<!--suppress HtmlFormInputWithoutLabel -->
<legend>Automatic Icons</legend>
    <div class="form-group">
        <label>{{localize "SETTINGS.AutoJournalIcon.autoIconN"}}</label>
        <div class="form-fields">
        <input type="checkbox" name="flags.journal-icon-numbers.autoIcon" data-dtype="Boolean" {{checked flags.autoIcon}}/>
        </div>
        <p class="notes hint">{{localize "SETTINGS.AutoJournalIcon.autoIconH"}}</p>
    </div>
    
    <div class="form-group">
        <label>{{localize "SETTINGS.AutoJournalIcon.IconStyleN"}}</label>
        <div class="form-fields">
            <select name="flags.journal-icon-numbers.iconType" data-dtype="String">
                {{selectOptions iconTypes selected=flags.iconType}}
            </select>
        </div>
    </div>

    <div class="form-group">
        <label>{{localize "SETTINGS.AutoJournalIcon.fontFamilyN"}}</label>
          <div class="form-fields">
            <select name="flags.journal-icon-numbers.fontFamily" data-dtype="String">
                {{selectOptions fontTypes selected=flags.fontFamily}}
            </select>
          </div>
          <p class="notes hint">{{localize "SETTINGS.AutoJournalIcon.fontFamilyH"}}</p>
     </div>


    <div class="form-group">
        <label>{{localize "SETTINGS.AutoJournalIcon.fontStyleBold"}}</label>
          <div class="form-fields">
            <input type="checkbox" name="flags.journal-icon-numbers.fontBold" data-dtype="Boolean"  {{checked flags.fontBold}}/>
          </div>
     </div>
    
     <div class="form-group">
        <label>{{localize "SETTINGS.AutoJournalIcon.fontStyleItalics"}}</label>
          <div class="form-fields">
            <input type="checkbox" name="flags.journal-icon-numbers.fontItalics" data-dtype="Boolean"  {{checked flags.fontItalics}}/>
          </div>
     </div>

     <div class="form-group">
        <label>{{localize "SETTINGS.AutoJournalIcon.iconFontSizeN"}}</label>
         <div class="form-fields">
             <input type="text" name="flags.journal-icon-numbers.iconFontSize" value="{{flags.iconFontSize}}" />
         </div>
         <!-- <p class="notes">{{localize "SETTINGS.AutoJournalIcon.iconFontSizeH"}}</p> -->
     </div>

     <div class="form-group">
        <label>{{localize "SETTINGS.AutoJournalIcon.strokeWidth"}}</label>
         <div class="form-fields">
             <input type="text" name="flags.journal-icon-numbers.strokeWidth" value="{{flags.strokeWidth}}" />
         </div>
     </div>

    <div class="form-group">
        <label>{{localize "SETTINGS.AutoJournalIcon.iconTextN"}}</label>
          <div class="form-fields">
            <input type="text" name="flags.journal-icon-numbers.iconText" value="{{flags.iconText}}"/>
          </div>
          <!-- <p class="notes">{{localize "SETTINGS.AutoJournalIcon.iconTextH"}}</p> -->
     </div>
    
    <div class="form-group">
       <label>{{localize "SETTINGS.AutoJournalIcon.foreColorN"}}</label>
        <div class="form-fields">
            <input class="color" type="text" name="flags.journal-icon-numbers.foreColor" value="{{flags.foreColor}}"  is="colorpicker-input" data-responsive-color/>
        </div>
    </div>
    
    <div class="form-group">
       <label>{{localize "SETTINGS.AutoJournalIcon.backColorN"}}</label>
        <div class="form-fields">
            <input class="color" type="text" name="flags.journal-icon-numbers.backColor" value="{{flags.backColor}}"  is="colorpicker-input" data-responsive-color/>
        </div>
    </div>

    <div class="form-group">
        <label>{{localize "SETTINGS.AutoJournalIcon.previewIconN"}}</label>
        <div class="form-fields">
            <div  style="width:128px;height: 128px;" name="sample-icon"></div>
        </div>

    </div>