<form autocomplete="off" onsubmit="event.preventDefault()">

    <div class="form-group">
        <label>{{localize "SETTINGS.AutoJournalIcon.iconSampleTextN"}}</label>
          <div class="form-fields">
            <input type="text" name="flags.autoIconFlags.iconText" value="42a"/>
          </div>
          <p class="notes">{{localize "SETTINGS.AutoJournalIcon.iconSampleTextH"}}</p>
     </div>

    <hr>

    <input type="checkbox" name="flags.autoIconFlags.autoIcon" data-dtype="Boolean" checked hidden/>


    
    <div class="form-group">
        <label>{{localize "SETTINGS.AutoJournalIcon.iconScaleN"}}</label>
         <div class="form-fields">
             <input type="text" name="flags.autoIconFlags.iconScale" value="{{iconScale}}" />
         </div>
         <p class="notes">{{localize "SETTINGS.AutoJournalIcon.iconScaleH"}}</p>
     </div>

     <div class="form-group">
        <label>{{localize "SETTINGS.AutoJournalIcon.fontSizeN"}}</label>
         <div class="form-fields">
             <input type="text" name="flags.autoIconFlags.fontSize" value="{{fontSize}}" />
         </div>
         <p class="notes">{{localize "SETTINGS.AutoJournalIcon.fontSizeH"}}</p>
     </div>

    <div class="form-group">
        <label>{{localize "SETTINGS.AutoJournalIcon.IconStyleN"}}</label>
        <div class="form-fields">
            <select name="flags.autoIconFlags.iconType" data-dtype="String">
                {{#select iconType}}
                {{#each iconTypes as |v k|}}
                <option value="{{k}}">{{v}}</option>
                {{/each}}
                {{/select}}
            </select>
        </div>
    </div>

    <div class="form-group">
        <label>{{localize "SETTINGS.AutoJournalIcon.fontFamilyN"}}</label>
          <div class="form-fields">
            <select name="flags.autoIconFlags.fontFamily" data-dtype="String">
                {{#select fontFamily}}
                {{#each fontTypes as |k|}}
                <option value="{{k}}">{{k}}</option>
                {{/each}}
                {{/select}}
            </select>
          </div>
          <p class="notes">{{localize "SETTINGS.AutoJournalIcon.fontFamilyH"}}</p>
     </div>


    <div class="form-group">
        <label>{{localize "SETTINGS.AutoJournalIcon.fontStyleBold"}}</label>
          <div class="form-fields">
            <input type="checkbox" name="flags.autoIconFlags.fontBold" data-dtype="Boolean"  {{checked fontBold}}/>
          </div>
     </div>
    
     <div class="form-group">
        <label>{{localize "SETTINGS.AutoJournalIcon.fontStyleItalics"}}</label>
          <div class="form-fields">
            <input type="checkbox" name="flags.autoIconFlags.fontItalics" data-dtype="Boolean"  {{checked fontItalics}}/>
          </div>
     </div>

     <div class="form-group">
        <label>{{localize "SETTINGS.AutoJournalIcon.iconFontSizeN"}}</label>
         <div class="form-fields">
             <input type="text" name="flags.autoIconFlags.iconFontSize" value="{{iconFontSize}}" />
         </div>
         <p class="notes">{{localize "SETTINGS.AutoJournalIcon.iconFontSizeH"}}</p>
     </div>

     <div class="form-group">
        <label>{{localize "SETTINGS.AutoJournalIcon.strokeWidth"}}</label>
         <div class="form-fields">
             <input type="text" name="flags.autoIconFlags.strokeWidth" value="{{strokeWidth}}" />
         </div>
     </div>
   
    <div class="form-group">
       <label>{{localize "SETTINGS.AutoJournalIcon.foreColorN"}}</label>
        <div class="form-fields">
            <input class="color" type="text" name="flags.autoIconFlags.foreColor" value="{{foreColor}}"  is="colorpicker-input" data-responsive-color/>
        </div>
        <p class="notes">{{localize "SETTINGS.AutoJournalIcon.colorH"}}</p>
    </div>
    
    <div class="form-group">
       <label>{{localize "SETTINGS.AutoJournalIcon.backColorN"}}</label>
        <div class="form-fields">
            <input class="color" type="text" name="flags.autoIconFlags.backColor" value="{{backColor}}"  is="colorpicker-input" data-responsive-color/>
        </div>
        <p class="notes">{{localize "SETTINGS.AutoJournalIcon.colorH"}}</p>
    </div>

    <hr>

    <div class="form-group">
        <label>{{localize "SETTINGS.AutoJournalIcon.previewIconN"}}</label>
        <div class="form-fields">
            <div  style="width:128px;height: 128px;"name="sample-icon"></div>
        </div>
        
    </div>
    <div class="form-group">

    <button type="submit" name="submit">
        <i class="far fa-save"></i> {{localize 'SETTINGS.AutoJournalIcon.save'}}
    </button>
</div>
</form>